<html lang="en">
<head>
   {{>headerLinks}}
   </head>
<body>

  {{>navbar}}

   <!-- main header -->

   <div class="container-fluid main_header">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
<div class="row">
  <!-- left side div -->
  <div class="col-md-6 col-12 main_header_left">
    <p> Welcome to Course </p>
    <h1>Course specification  <span class="text"> Register Yourself</span> ....</h1>
    <a href="/"><button>Back</button></a>
 </div>
<!-- right side dive -->
 <div class="col-md-6 col-12 main_header_right">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class=" w-100" src="Images/teach.png" alt="First slide">
      </div>
  
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

</div>

       </div>
     </div>
   </div>

   <!-- footer side -->


</body>
</html>

{{>footer}}